{% extends "base-meetings.html" %}

<!-- A new tab for the scheduling of a meeting. This page is used to create a new meeting -->
{% block content %}
    <div class="row">
        <div class="col-md-2"><!-- Dummy --></div>
        <div class="col-md-8">
            <h1>{% trans 'Schedule a meeting' %}</h1>
            <hr>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|fancy_form }}
                    <hr>
                    <a class="btn btn-default" href="{% url 'meetings:list_meeting' %}">{% trans 'Cancel' %}</a>
                    <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}">
                </form>
            </div>
        </div>
    </div>
{%  endblock %}
