{% extends "base-meetings.html" %}


{% block content %}
    <h1>
        {% trans 'Meetings' %}
        {% if perms.meetings.add_meeting %}
            <a href="{% url 'meetings:add_meeting' %}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        {% endif %}
    </h1>
    <hr>

    <!-- List of meetings -->
    <div class="table-responsive">
        <table class="table table-hover data-table" data-order='[[1, "asc"]]'>
            <thead>
                <tr>
                    <th>{% trans 'Organization' %}</th>
                    <th>{% trans 'Date & Time' %}</th>
                    <th>{% trans 'Location' %}</th>
                    <th>{% trans 'Secretary' %}</th>
                    <th class="btn-cell no-sort">
                        {% if not perms.meetings.change_meeting %}
                            {% trans 'Subscription' %}
                        {% endif %}
                    </th>
                </tr>
            </thead>

            <tbody>{% for meeting in object_list %}
                <tr>
                    <td>{{ meeting.organization }}</td>
                    <td data-order="{{ meeting.begin_time|date:"YmdHi" }}">{{ meeting.begin_time }}</td>
                    <td>{{ meeting.place }}</td>
                    {% if meeting.secretary != None %}
                        {% if meeting.secretary == request.user or perms.meetings.view_secretaries%}
                            <td id="secretary-{{ meeting.pk }}">
                                {{ meeting.secretary }}
                            </td>
                        {% else %}
                            <td id="secretary-"{{ meeting.pk }}">
                                <em>{% trans 'Occupied' %}</em>
                            </td>
                        {% endif %}
                    {% else %}
                        <td id="secretary-{{ meeting.pk }}">
                            <em><small>{% trans 'None' %}</small></em>
                        </td>
                    {% endif %}
                    <td class="btn-cell">
                        <div>
                            {% if not perms.meetings.change_meeting %}
                            <input id="toggle-{{ meeting.pk }}" data-soon="{{ meeting.is_soon }}" data-toggle="toggle"
                               type="checkbox" data-on=" " data-off=" " data-onstyle="success" data-offstyle="danger"
                               data-size="small" autocomplete="off"

                               {% if meeting.secretary != None %}
                                   checked
                               {% endif %}

                               {% if meeting.is_soon and meeting.secretary != None %}
                                   disabled
                               {% elif meeting.secretary != None and meeting.secretary != request.user %}
                                   disabled
                               {% endif %}
                            />

                            <script>
                                $(function() {
                                    $('#toggle-{{ meeting.pk }}').change(function() {
                                        $.post('/meetings/{{ meeting.pk }}/toggle/', {csrfmiddlewaretoken: $.cookie('csrftoken')}, function(data) {
                                            if(data.error) {
                                                new PNotify({
                                                    title: 'Error',
                                                    text: data.error_message,
                                                    type: 'error'
                                                });
                                            } else {
                                                if(data.secretary === null) {
                                                    $('#secretary-{{ meeting.pk }}').html('<em><small>{% trans 'None' %}</small></em>');
                                                } else {
                                                    $('#secretary-{{ meeting.pk }}').text(data.secretary);

                                                    if($('#toggle-{{ meeting.pk }}').data("soon") == "True") {
                                                        $('#toggle-{{ meeting.pk }}').prop('disabled', true);
                                                        console.log($('#toggle-{{ meeting.pk }}').parent());
                                                        $('#toggle-{{ meeting.pk }}').parent().addClass('disabled');
                                                    }
                                                }
                                            }
                                        });
                                    });

                                    $('#toggle-{{ meeting.pk }}').parent().click(function() {
                                        if($('#toggle-{{ meeting.pk }}').prop('disabled')) {
                                            new PNotify({
                                                title: {{ 'Deregistration period expired'|jstrans }},
                                                text: {{ 'You cannot unsubscribe from this meeting anymore'|jstrans }},
                                                type: 'error'
                                            });
                                        }
                                    });
                                });
                            </script>
                            {% endif %}

                            &nbsp;

                            {% if perms.meetings.change_meeting %}
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal-{{ meeting.pk }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            {% endif %}

                            &nbsp;

                            {% if perms.meetings.delete_meeting %}
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteModal-{{ meeting.pk }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}</tbody>
        </table>
    </div>

    <!-- Modals to edit meetings -->
    {% for meeting in object_list %}
        <div id="editModal-{{ meeting.pk }}" class="modal fade" role="form" {% if edit != None %}data-backdrop="static"{% endif %}>
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'meetings:list_meeting' %}">
                        <div class="modal-header">
                            {% if edit == meeting.pk %}
                                <a href="{% url 'meetings:list_meeting' %}" type="button" class="close">&times;</a>
                            {% else %}
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            {% endif %}
                            <h4 class="modal-title">{% trans 'Edit meeting' %}</h4>
                        </div>

                        <div class="modal-body">
                            <input type="hidden" name="edit" value="{{ meeting.pk }}">
                            {% csrf_token %}
                            {{ meeting.form|fancy_form }}
                        </div>
                        <div class="modal-footer">
                            {% if edit == meeting.pk %}
                                <a href="{% url 'meetings:list_meeting' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
                            {% else %}
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel'%}</button>
                            {% endif %}

                            <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if edit %}
        <script type="text/javascript">
            $(function() {
                $('#editModal-{{ edit }}').modal().show();
            })
        </script>
    {% endif %}

    <!-- Modals to delete meetings -->
    {% for meeting in object_list %}
        <div id="deleteModal-{{ meeting.pk }}" class="modal fade" role="form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'meetings:delete_meeting' meeting.pk %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{% trans 'Delete meeting' %}</h4>
                        </div>
                        <div class="modal-body">
                            {% blocktrans with begin_time=meeting.begin_time%}
                                Are you sure you want to permanently delete the meeting "{{ meeting }}" at {{ begin_time }}?
                            {% endblocktrans %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                            <input class="btn btn-danger" type="submit" value={% trans 'Delete' %}>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
