{% extends "base-minutes.html" %}

<!-------------some sort of permissions can be build in, the BOZ and OLC should see this page------>
{% block content %}
    <h1>Minutes</h1>
    <hr>
    <div class="table">
       <table class="table table-hover data-table" data-order='[[1, "desc"]]'>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Date & Time</th>
                    <th>Location</th>
                    <th>Secretary</th>
                    <th class="btn-cell no-sort">Upload&nbsp;-&nbsp;Download</th>
                </tr>
            </thead>
            <tbody>
                <!------------------table filled in, there is not much more for this block--------->
                {% for meeting in object_list %}
                    <tr>
                        <td>{{ meeting.organization }}</td>
                        <td data-order="{{ meeting.begin_time|date:"YmdHi" }}">{{ meeting.begin_time }}</td>
                        <td>{{ meeting.place }}</td>
                        {% if meeting.secretary != None %}
                            <td>{{ meeting.secretary }}</td>
                        {% else %}
                            <td><em><small>None</small></em></td>
                        {% endif %}

                        <!------------------There should be a download button to request the meetings-------->
                        <td class="btn-cell"><div>
                            {# Upload minutes form #}
                            <form method="post" action="{% url 'meetings:minutes-upload' %}" class="upload-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="meeting" value="{{ meeting.pk }}">
                                <input type="file" name="minutes" style="display: none">
                                <button type="button" class="btn btn-default">
                                  <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                </button>
                            </form>

                            &nbsp;

                            {% if meeting.minutes.all|length == 0%}
                                {# nop #}
                            {% elif meeting.minutes.all|length == 1%}{% with meeting.minutes.all|first as minutes %}
                                <a type="button" class="btn btn-default" href="{% url 'meetings:minutes-download' minutes.pk %}">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download
                                    <span class="caret" style="visibility: hidden"><!-- Dummy for whitespace --></span>
                                </a>
                            {% endwith %}{% else %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu pull-right">
                                        {% for minutes in meeting.minutes.all %}
                                            <li><a href="{% url 'meetings:minutes-download' minutes.pk %}">{{ minutes.original_name }} <em><small>{{ minutes.date }}</small></em></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div></td>
                    </tr>
                {% endfor %}
           </tbody>
       </table>
    </div>

    <script type="text/javascript">
        $(function() {
            $('.upload-form').each(function(_, form) {
                form = $(form);

                form.find('button').click(function() {
                    form.find('input[type=file]').click();
                });

                form.find('input[type=file]').change(function() {
                    form.submit();
                });
            });
        })
    </script>
{% endblock %}
