{% extends "base-minutes.html" %}

<!-------------some sort of permissions can be build in, the BOZ and OLC should see this page------>
{% block content %}
    <h1>Minutes</h1>
    <hr>
        <div class="table-responsive">
           <table class="table table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Date & Time</th>
                        <th>Location</th>
                        <th>Secretary</th>
                        {% if user.request.is_planner %}
                            <th>Download</th>
                        {% else %}
                            <th>Upload</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <!------------------table filled in, there is not much more for this block--------->
                    {% for meeting in object_list %}
                        <tr>

                            <td>{{ meeting.organization }}</td>
                            <td>{{ meeting.begin_time }}</td>
                            <td>{{ meeting.place }}</td>
                            <td>{{ meeting.secretary }}</td>

                                <!------------------There should be a download button to request the meetings-------->
                                <td>

                                    {% if meeting.minutes.all|length == 0%}

                                        {# Upload minutes form #}
                                            <button type="button" class="btn btn-default">
                                              <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload
                                            </button>
                                    {% elif meeting.minutes.all|length == 1%}
                                        {# If there is only one upload, show download button #}

                                        <button type="button" class="btn btn-default">
                                          <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download
                                        </button>

                                    {% else %}
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download <span class="caret"></span>
                                          </button>

                                          <ul class="dropdown-menu">
                                            {% for minutes in meeting.minutes.all %}
                                                <li><a href="#">{{ minutes.file }}</a></li>
                                            {% endfor %}
                                          </ul>
                                        </div>
                                    {% endif %}
                                </td>
                        </tr>
                    {% endfor %}
               </tbody>
           </table>
        </div>

    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>


{% endblock %}
