{% extends "base-meetings.html" %}

<!-------------A new tab for the scheduling of a meeting. This page is used to create a new meeting------>
{% block content %}
    <h1 style="margin-left: 25%">Schedule a meeting</h1>
    <hr>
        <div style="width: 50%; margin-left: 25%">
            <form method="post">{% csrf_token %}
                {{ form|fancy_form }}
                <input class="btn btn-success btn-lg" type="submit" value="Submit"  style="float: right">
            </form>
        </div>

{%  endblock %}
