<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload Minutes</title>
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if minutes_list %}
        <ul>
        {% for minute in minutes_list %}
            <li><a href="{{ minute.file.url }}">{{ minute.file.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No minutes.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'meetings:minutes' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
            <p>
                {{ form.file.errors }}
                {{ form.file }}
            </p>
            <p>
                <input type="file" name="minutes" />
                <input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>