{% extends 'base-users.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2"><!-- Dummy --></div>
        <div class="col-md-8">
            {% if object %}
                <h1>{% blocktrans %}Edit user {{ object }}{% endblocktrans %}</h1>
            {% else %}
                <h1>{% trans 'Create user' %}</h1>
            {% endif %}
            <hr>

            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|fancy_form }}
                    <hr>
                    <a href="{% url 'members:list_person' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
                    <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
