{% extends 'base-users.html' %}

{% block content %}
    <h1>
        Users
        {% if perms.members.add_person %}
            <a href="{% url 'members:person_create' %}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        {% endif %}
        <hr>
    </h1>

    <table class="table table-hover data-table" data-order='[[1, "asc"]]' data-select="multi">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'E-mail address' %}</th>
                <th>{% trans 'Groups' %}</th>
                <th>{% trans 'Organizations' %}</th>
                <th class="btn-cell no-sort"><!-- Buttons --></th>
            </tr>
        </thead>
        <tbody>
        {% for person in object_list %}
            <tr data-email="{{ person.full_email }}">
                <td>
                    {{ person }}
                </td>
                <td>
                {% if person.email %}
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                {% endif %}
                </td>
                <td>
                    {{ person.groups.all|join:", "|default:"—" }}
                </td>
                <td>
                    {{ person.organizations.all|join:", "|default:"—" }}
                </td>
                <td class="btn-cell"><div>
                    {% if perms.members.change_person %}
                        <a href="{% url 'members:person_update' person.id %}" class="btn btn-default">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    &nbsp;
                    {% endif %}
                    {% if perms.members.delete_person %}
                        <a href="{% url 'members:person_delete' person.id %}" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    {% endif %}
                </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="email-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Copy email addresses</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input id="email-input" type="text" class="form-control" onclick="this.select()" autofocus>
                        <span class="input-group-btn">
                            <button id="email-copy-button" class="btn btn-default copy-button"><i class="glyphicon glyphicon-copy"></i> Copy</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('table').on('select.dt deselect.dt', function() {
                $('.select-info .select-item:nth-child(2)').empty().append(
                    $('<button>').addClass('btn').addClass('btn-default').text('Email users').click(function() {
                        var value = $('tr.selected').map(function() {
                            return $(this).attr('data-email');
                        }).get().join(',');
                        $('#email-input').val(value);
                        $('#email-copy-button').attr('data-clipboard-text', value);
                    }).attr('data-toggle', 'modal').attr('data-target', '#email-modal')
                );
            });
        })
    </script>
{% endblock %}
