{% extends 'base-users.html' %}

{% block content %}
    <h1>
        Users
        <a href="{% url 'members:person_create' %}" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'E-mail address' %}</th>
                <th>{% trans 'Groups' %}</th>
                <th>{% trans 'Organizations' %}</th>
                {% if perms.members.change_person %}<th class="btn-cell"><!-- Edit --></th>{% endif %}
                {% if perms.members.delete_person %}<th class="btn-cell"><!-- Delete --></th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for person in object_list %}
            <tr>
                <td>
                    {{ person }}
                </td>
                <td>
                {% if person.email %}
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                {% endif %}
                </td>
                <td>
                    {{ person.groups.all|join:", "|default:"—" }}
                </td>
                <td>
                    {{ person.organizations.all|join:", "|default:"—" }}
                </td>
                {% if perms.members.change_person %}<td class="btn-cell">
                    <a href="{% url 'members:person_update' person.id %}" class="btn btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>{% endif %}
                {% if perms.members.delete_person %}<td class="btn-cell">
                    <a href="{% url 'members:person_delete' person.id %}" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
