{% extends 'base-users.html' %}

{% block content %}
    <h1>
        Users
        {% if perms.members.add_person %}
            <a href="{% url 'members:person_create' %}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        {% endif %}
    </h1>

    <table class="table table-hover data-table" data-order='[[0, "asc"]]'>
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'E-mail address' %}</th>
                <th>{% trans 'Groups' %}</th>
                <th>{% trans 'Organizations' %}</th>
                <th class="btn-cell no-sort"><!-- Buttons --></th>
            </tr>
        </thead>
        <tbody>
        {% for person in object_list %}
            <tr>
                <td>
                    {{ person }}
                </td>
                <td>
                {% if person.email %}
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                {% endif %}
                </td>
                <td>
                    {{ person.groups.all|join:", "|default:"—" }}
                </td>
                <td>
                    {{ person.organizations.all|join:", "|default:"—" }}
                </td>
                <td class="btn-cell"><div>
                    {% if perms.members.change_person %}
                        <a href="{% url 'members:person_update' person.id %}" class="btn btn-default">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    &nbsp;
                    {% endif %}
                    {% if perms.members.delete_person %}
                        <a href="{% url 'members:person_delete' person.id %}" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    {% endif %}
                </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
