<div class="form-group">
    {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% if field|field_class_is:"TextInput" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" class="form-control">
    {% elif field|field_class_is:"EmailInput" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" class="form-control" placeholder="example@utwente.nl">
    {% elif field|field_class_is:"SelectMultiple" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div>{{ field }}</div>
        <script type="text/javascript">$("#{{ field.id_for_label }}").multiselect()</script>
    {% elif field|field_class_is:"Select" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div>{{ field }}</div>
        <script type="text/javascript">$("#{{ field.id_for_label }}").multiselect({ enableFiltering: true })</script>
    {% elif field|field_class_is:"DateTimeInput" %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class='input-group date' id='{{ field.id_for_label }}'>
                    <input type='text' class="form-control" name="{{ field.name }}" value="{{ field.value|date:"d-m-Y H:i" }}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js">
                </script>
                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/locale/nl.js">
                </script>
                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
                </script>
                <script type="text/javascript">
                    $('#{{ field.id_for_label }}').datetimepicker();
                </script>
    {% else %}
        ***PANIC*** {{ field|field_class }} ***PANIC***
    {% endif %}
</div>
