<html>
<body>

<table align="center" cellspacing="0" cellpadding="0" style="font-family: Verdana, sans-serif; width: 600px; margin-top:20px; background-color: white; border: 1px solid #CCC; font-size: 14px;">
    <tr style="background-color: #E92F8C; height: 6px; font-size: 1px;" >
        <td>
            &nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <div style="background-image: url('https://blackboard.utwente.nl/branding/_1_1/Header.png'); background-color: #111; background-position: center; height: 100px; width: 100%;" ></div>
        </td>
    </tr>

    <tr>
        <td style="padding:40px 10px 40px 10px;">
            {% block content %}
            {% endblock %}
        </td>
    </tr>

    <tr style="background-color: #E92F8C;">
       <td style="padding:4px;">
           <div style="margin-left: 10px; font-size: 12px;">
            <b>BOZPlanner</b> <a href="http://www.bozplanner.nl" style="color: white;">bozplanner.nl</a>
           </div>
       </td>
    </tr>
</table>

</body>
</html>