<nav class="navbar navbar-default navbar-static-top">
    {% if active == '' %}
        <script>alert('Je bent vergeten active te definiëren voor deze template :(');</script>
    {% endif %}
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{%  url 'meetings:meetings-list' %}">BOZPlanner</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{% if active == 'meetings' %}active{% endif %}"><a href="{% url 'meetings:meetings-list' %}">Meetings</a></li>
            <li class="{% if active == 'minutes' %}active{% endif %}"><a href="{% url 'meetings:minutes' %}">Minutes</a></li>
            <li class="{% if active == 'users' %}active{% endif %}"><a href="{% url 'members:persons' %}">Users</a></li>
            <li class="{% if active == 'organizations' %}active{% endif %}"><a href="{% url 'members:organizations' %}">Organizations</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="{%  if active == 'help' %}active{% endif %}">
                <a href="{%  url 'help' %}">
                    <span class="glyphicon glyphicon-question-sign"></span> Help
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="#">{{ request.user.get_full_name }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'members:preferences' %}"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                    <li><a href="{% url 'members:logout' %}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
