{% extends "mail_base.html" %}
{% block content %}
Hello,<br><br>

This week the following meeting{% if meetings|length == 1 %}{% else %}s{% endif %} take{% if meetings|length == 1 %}s{% else %}{% endif %} place of {{ organization }}: <br>
    <ul>
    {% for meeting in meetings %}
        {% if meeting.secretary == None %}
            <li>{{ meeting.begin_time|date:"d-m-Y H:i" }}, no secretary</li>
        {% else %}
            <li>{{ meeting.begin_time|date:"d-m-Y H:i" }}</li>
        {% endif %}
    {% endfor %}
    </ul>
Kind regards,<br>
BOZPlanner
{% endblock %}