.zoom-in {
    transform: scale(1.25);
    transform-origin: 50% 0;
    overflow-x: hidden;
}

.btn-cell {
    width: 1px;
}

.btn-cell div {
    display: flex;
}

#navigation, .navbar.navbar-default.navbar-static-top{
    background-image: url(Header.png);
    background-color: rgba( 0, 0, 0, 0.7);
    background-position: 353px 0px;
}

.navbar-default .navbar-brand{
    color:white;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color:black;
    background-color:grey;
}

.navbar-default .navbar-nav>li>a:hover{
    color:black;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: black;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-nav > li {
    float: left;
}

small {
    color: #9d9d9d;
}

table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
    position: relative;
    bottom: -3px;
    left: 4px;
    display: inline-block;
}

.panel-title a {
    text-decoration: none;
}

.panel-title a i {
    transform: rotate(180deg);
    transition: transform 200ms;
}

.panel-title a.collapsed i {
    transform: rotate(360deg);
}

.btn[disabled] {
    opacity: .3;
}

.dropdown-button {
    padding: 2px 5px;
    margin-left: 4px
}

html {
    overflow-y: scroll;
}

body {
    padding-right: 0 !important;
}
