{% extends "base-minutes.html" %}

{% block content %}
    <h1>{% trans 'Minutes' %}</h1>
    <hr>

    <!-- List of meetings with minutes -->
    <div class="table">
       <table class="table table-hover data-table" data-order='[[1, "desc"]]'>
            <thead>
                <tr>
                    <th>{% trans 'Subject' %}</th>
                    <th>{% trans 'Date & Time' %}</th>
                    <th>{% trans 'Location' %}</th>
                    <th>{% trans 'Secretary' %}</th>
                    <th class="btn-cell no-sort">{%  trans 'Upload&nbsp;-&nbsp;Options' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in object_list %}
                    <tr>
                        <td>{{ meeting.organization }}</td>
                        <td data-order="{{ meeting.begin_time|date:"YmdHi" }}">{{ meeting.begin_time }}</td>
                        <td>{{ meeting.place }}</td>
                        {% if meeting.secretary != None %}
                            <td>
                                {{ meeting.secretary }}
                            </td>
                        {% else %}
                            <td>
                                <em><small>{% trans 'None' %}</small></em>
                            </td>
                        {% endif %}

                        <td class="btn-cell"><div>
                            <!-- Upload minutes form -->
                            {% if meeting.secretary == user or perms.meetings.add_minutes %}
                                <form method="post" action="{% url 'meetings:upload_minutes' %}" class="upload-form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="meeting" value="{{ meeting.pk }}">
                                    <input type="file" name="minutes" style="display: none">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                    </button>
                                </form>
                            {% endif %}

                            &nbsp;

                            {% if meeting.minutes.all|length > 0 %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% trans 'Minutes' %} <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu pull-right">
                                        {% for minutes in meeting.minutes.all %}
                                            <li style="vertical-align: middle;">
                                                <a onclick="window.location='{% url 'meetings:download_minutes' minutes.pk %}'" style="cursor: pointer; display: flex">
                                                    <span style="margin-right: 8px">{{ minutes.original_name }}</span>
                                                    <em style="flex-grow: 1"><small>{{ minutes.date }}</small></em>
                                                    <span class="btn btn-default btn-sm dropdown-button">
                                                        <i class="glyphicon glyphicon-save"></i>
                                                    </span>
                                                    {% if perms.meetings.delete_minutes %}
                                                        <span onclick="event.preventDefault(); event.stopPropagation(); event.stopImmediatePropagation(); $('#deleteModal-{{ minutes.pk }}').modal('show')"
                                                           href="#" class="btn btn-danger btn-sm dropdown-button"
                                                           data-toggle="modal" data-target="deleteModal-{{ minutes.pk }}"
                                                           style="margin-left: 3px">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div></td>
                    </tr>
                {% endfor %}
           </tbody>
       </table>
    </div>

    <!-- Modals to delete minutes -->
    {% for meeting in object_list %}
        {% for minutes in meeting.minutes.all %}
            <div id="deleteModal-{{ minutes.pk }}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'meetings:delete_minutes' minutes.pk %}">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{% trans 'Delete minutes' %}</h4>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                {% blocktrans with name=minutes.original_name date=minutes.date%}
                                    Are you sure you want to remove the file {{ name }} uploaded at {{ date }}?
                                {% endblocktrans %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                <input class="btn btn-danger" type="submit" value="{% trans 'Delete' %}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <script type="text/javascript">
        $(function() {
            $('.upload-form').each(function() {
                var form = $(this);

                form.find('button').click(function() {
                    form.find('input[type=file]').click();
                });

                form.find('input[type=file]').change(function() {
                    form.submit();
                });
            });
        })
    </script>
{% endblock %}
